
extends bootstrap-layout


block body
    nav.navbar.navbar-default.sidebar(role='navigation')
        .container-fluid
            .navbar-header.top17
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-sidebar-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                |
                a.navbar-brand(href='#') Generate Problem

            .row.top30
            .row.top30
                .col-xs-10.col-xs-offset-1

                    .dropdown
                        button.btn.btn-block.btn-default.dropdown-toggle(id="tags-button", type='button', data-toggle="dropdown") Tags
                            span.caret
                        ul.dropdown-menu.tags-dropdown
                            each tag in tags
                                li
                                    a(href='#') #{tag}
            .row.top40
                .col-xs-10.col-xs-offset-1
                    .dropdown
                        button.btn.btn-block.btn-default.dropdown-toggle(id="levels-button", type='button', data-toggle="dropdown") Levels
                            span.caret
                        ul.dropdown-menu.levels-dropdown
                            each level in levels
                                li
                                    a(href='#') #{level.name}

            .row.top40
                .col-xs-10.col-xs-offset-1
                    button.btn.btn-block.btn-primary(type='button', id="next-button") Next

            .row.top40
                .col-xs-10.col-xs-offset-1
                    a.btn.btn-block(type='button', id="submit-button", target="_blank") Submit Code

    .main
        .row
            .form-group
                .col-xs-12
                    #includedContent
